
#secSuperiorHeader {
   
    color: white;
    font-family: 'Bruno Ace', cursive;
    height: 50px;
}

#h1Header{
    margin-top: 50px;
}

#secInferior1 {
    border: 1px solid white;
    height: 760px;
    margin-top: 40px;
}

#secInferior1-div1{
    
    color: white;
    height: 50px;
    width: 215px;
    position: absolute;
    left: 500px;
    margin-top: 20px;

    
    

}

#secInferior1-div2{
    border: 1px solid violet;
    height: 250px;
    background-color: #111211;
    opacity: 95%;
    transform: scaleX(0);
    width: 1918px;
    position: fixed;
    left: 0px;
    

}

#p1{
    
    
}

#secInferior1-div1:hover > #secInferior1-div2 {
    transform: scaleX(1);    
}


